._my-bg{
    background-color: $light-blue;
}

h6{
    color: $dark-gray;
}
p{
    color: $brown;
}

._icons{
    i{
        color: white;
    }
}

._my-list{
    li{
        a{
            color: $brown;
        }
    }
}

._bg-color{
    background-color: $dark-gray;
}

._footer-sub{
    color: white;
}