.home-wrapper{
    background-color: $light-brown;
}
.jumbo{
    background-color: $dark-gray;
    background-size: auto;
    height: 30vh;
        h1{
            color: $light-blue;
        }
}
h3{
    color: $light-blue;
}
._img-container{
    width: 50%;
    height: 70%;
        i{
            color: $light-blue;
        }
}
._btn-color{
    background-color: $light-blue;
    border-color: $light-blue;
    color: $dark-gray;
        &:hover{
            background-color: $brown;
            border-color: $brown;
        } 
}


