._border-register{
    border: 1px solid $pink;
}
._link-pink{
    color: $pink;
        &:hover{
            color: $pink;
            text-decoration: none;
        }

}
.card-header{
    h5{
        color: $dark-gray;
    }
}